.env
build/
dist/
.cache/
compile_commands.json

# Root data/ and features/
/data
/data/
/features/
/logging/

# Local artifacts
imgui.ini
active_orders.csv
*.log
*.dbn.zst
*.dbn
*.zst

# Coverage report
coverage.info
coverage_report/*
docs/

# Python stuff
__pycache__
output/
data/
